@import "variables";

header {
    .container-header {
        display: flex;
        justify-content: center;

        width: 100%;
        height: 100px;
        background-color: $bg-header;

        position: sticky;
        top: 0;

        box-shadow: 0 5px 10px $bg-sidebar-hover;
    }

    .logo {
        margin: auto;

        color: $text-sidebar;
        text-decoration: none;
        @include font('size', 2.2rem);
        @include font('style', italic);

    }
}