
@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "perfonts";
@import "mixins";
@import "animazioni";
@import "bottoni";
@import "function";


.bi {
    font-size: 2rem;
    color: white;
}
footer .bi{
    color: $primary;
    font-size: 2.5rem;
}

.menu {
    background: linear-gradient(to right, rgba($primary, 0.95), rgba($secondary, 0.95));
}

.intro-section {
    @include gradient;
    padding: 10rem 0 0 0;
    width: 100%;
    height: 100%;

}

.intros {
    .foto-box {
        position: relative;

        a {
            span {
                i {
                    font-size: 6rem;
                    color: $secondary;
                }
            }
        }
    }
}

.border-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 6rem;
    height: 6rem;
    border: 0.55rem solid $white;
    border-radius: 50%;
    animation: pulse-border 1.5s linear infinite;
    margin-top: 25%;

    &--border-1 {
        animation-delay: 1s;
    }

    &--border-2 {
        animation-delay: 1.5s;
    }
}

.logo-list h4 {
    font-size: 3rem;
    color: $secondary;
}

.logo-list {
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.logo-list img {
    display: inline-block;
    max-width: 85%;
    padding: 15px 0;
    transition: all 0.3s ease-in-out;
    -webkit-filter: grayscale(100);
    -moz-filter: grayscale(100);
    filter: grayscale(100);
}

.logo-list img:hover {
    filter: none;
    transform: scale(1.2);
    -webkit-filter: none;
    -moz-filter: none;
}

.services {
    position: relative;
    padding: 1rem 0;

    &__content {
        padding: 1rem;
        margin-top: 0;

        p {
            font-size: 0.8rem;

            @include media-breakpoint-up(lg) {
                font-size: 1rem;
            }
        }

        @include media-breakpoint-up(lg) {
            margin-top: 5rem;
        }

        .icon {
            font-size: 1.5rem;
            color: $primary;

            @include media-breakpoint-up(lg) {
                font-size: 2.5rem;
            }
        }
    }

    &__pic {
        max-width: 100%;
    }
}
.testimonials .ratings .bi{
    color: $secondary;
}

.testimonials {
    position: relative;
    padding: 0;
    @include gradient;

    &__card {
        background-color: rgba($white, 0.8);
        padding: 2rem 1.25rem;
        border-radius: 0.625rem;
        height: auto;
        text-align: center;

        i {
            font-size: 1.5rem;
            color: rgba($primary, 0.7);
        }

        .ratings {


            i {
                color: rgba($primary, 0.7);
                font-size: 1rem;
            }
        }
    }

    &__picture {
        width: 6rem;
        height: 6rem;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);

        img {
            border: 0.325rem solid rgba($primary, 0.7);
        }
    }

    &__name {
        padding-top: 3rem;
        margin-bottom: 1rem;
        text-align: center;
        font-weight: 500;
        color: $white;

        h3 {
            padding-top: 0.8rem;
            text-transform: capitalize;
        }

        p {
            padding-bottom: 2rem;
            text-transform: capitalize;
        }
    }
}

// footer

.footer {
    padding-top: 1rem;
    background-color: $footer;
}

.contact-box {
    position: relative;

    &__icon {
        width: 2rem;
        stroke: $primary;
        padding-top: 0.5rem;

        @include media-breakpoint-up(sm) {
            width: 4rem;
        }
    }


    &__info {
        padding: 0.4rem;
        font-weight: 600;



        &--title {
            color: $textFooter;
            text-decoration: none;
            font-size: 1rem;

            @include media-breakpoint-up(sm) {
                font-size: 1.4rem;
            }

        }

        &--subtitle {
            font-size: 0.8rem;
            color: $textFooter;
            text-decoration: none;

            @include media-breakpoint-up(sm) {
                font-size: 1rem;
            }

        }
    }
}

.footer-bottom {
    background-color: $black;

    &__copyright {
        color: $gray-600;
        font-weight: 400;


        a {
            color: $gray-300;
            text-decoration: none;

            &:hover {
                color: $primary;
                text-decoration: underline;

            }
        }
    }
}